# Maps commit identities to a canonical name and e-mail address for
# git shortlog, git blame and contributor statistics.
Olaf Yunus Laitinen Imanov <yunus.z.imanov@helsinki.fi> <olaf.laitinen@gmail.com>
